[Unit]
Description=BMO Framebuffer Mirror (Desktop to SPI)
After=local-fs.target
DefaultDependencies=no

[Service]
ExecStart=/home/pi/bmo/mirror
Restart=always
User=root

[Install]
WantedBy=multi-user.target
