[Unit]
Description=BMO Companion Service
After=network.target

[Service]
ExecStartPre=-/usr/bin/git -C /home/pi/bmo pull origin main
ExecStart=/usr/bin/python3 /home/pi/bmo/bmo_pygame.py
WorkingDirectory=/home/pi/bmo
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
